* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

/* .fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
/* .fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
} */


.fullscreen-video-wrap video {
    /* left: 50%; */
    width: 100vh;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    /* transform: translate(-40%, -30%); */
  }
  
/* .fullscreen-video-wrap video {
    left: 20%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 100%;
    transform: translate(-70%, -70%);
  } */




.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.5;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section {
  padding: 20px 0;
}

.section-a {
  width: 100vw;
  height: 50vh;
}
.section-b {
  width: 100vw;
  height: 100vh;
  background: #333;
  color: #fff;
}

@media (max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  /* #videoBG{
       
        top:0;
        left:0;
        width: 100vw;
        height: 50%;
    } */
  .fullscreen-video-wrap video {
    left: 20%;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    position: absolute;
    top: 50%;
    transform: translate(-80%, -50%);
  }

  /* .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  } */

}
