.card {
    border: 2px solid black;
    width: 300px;
    height: 300px;
}

.card-content {
    text-align: center;
}

.card:hover {
    animation: slide 1s ease-in forwards;
    /* animation: flip 2s ease-out alternate 2; */
    /* animation: flip 2s ease-out forwards; */
}

/* animations */
.flip {
    animation: flip 2s ease-out alternate 2;
}
@keyframes flip {
   0% {
       transform: rotateY(0deg);
   } 
   100% {
       transform: rotateY(180deg);
   }
}